In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import preprocessing

In [5]:
df = pd.read_csv('churn_modelling.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [9]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [10]:
X=df.iloc[:, :df.shape[1]-1].values #Independent Variables
y=df.iloc[:, -1].values #Dependent Variable
X.shape, y.shape

((10000, 10), (10000,))

In [11]:
print(X[:6,2], '... will now become: ')
label_X_gender_encoder = LabelEncoder()
X[:,2] = label_X_gender_encoder.fit_transform(X[:,2])
print(X[:6,2])

['Female' 'Female' 'Female' 'Female' 'Female' 'Male'] ... will now become:
[0 0 0 0 0 1]

In [12]:
transform = ColumnTransformer([("countries", OneHotEncoder(), [1])], remainder="passthrough") #
X = transform.fit_transform(X)
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [13]:
X = X[:,1:]
X.shape

(10000, 11)

In [14]:
# Splitting the Dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [15]:
sc=StandardScaler()
X_train[:,np.array([2,4,5,6,7,10])] = sc.fit_transform(X_train[:,np.array([2,4,5,6,7,10])])
X_test[:,np.array([2,4,5,6,7,10])] = sc.transform(X_test[:,np.array([2,4,5,6,7,10])])

In [16]:
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train

array([[-0.5698444 ,  1.74309049,  0.16958176, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -2.30455945, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368, -1.19119591, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368,  0.9015152 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049, -0.62420521, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368, -0.28401079, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [18]:
#Initialize and Build Model
from tensorflow.keras.models import Sequential
# Initializing the ANN
classifier = Sequential()

In [20]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Initialize a Sequential model
classifier = Sequential()

# Add the input layer and the first hidden layer
classifier.add(Dense(units=256, activation='relu', input_dim=11, kernel_initializer='uniform'))

In [21]:
# Adding the hidden layer
classifier.add(Dense(activation = 'relu', units=512, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=256, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=128, kernel_initializer='uniform'))

In [22]:
# Adding the output layer
# Notice that we do not need to specify input dim.
# we have an output of 1 node, which is the the desired dimensions of our output (stay with the
# We use the sigmoid because we want probability outcomes
classifier.add(Dense(activation = 'sigmoid', units=1, kernel_initializer='uniform'))

In [23]:
# Create optimizer with default learning rate
# sgd_optimizer = tf.keras.optimizers.SGD()
# Compile the model
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [24]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               3072

 dense_1 (Dense)             (None, 512)               131584

 dense_2 (Dense)             (None, 256)               131328

 dense_3 (Dense)             (None, 128)               32896

 dense_4 (Dense)             (None, 1)                 129

=================================================================
Total params: 299009 (1.14 MB)
Trainable params: 299009 (1.14 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
classifier.fit(
 X_train, y_train,
 validation_data=(X_test,y_test),
 epochs=20,
 batch_size=32
)

Epoch 1/20
250/250 [==============================] - 3s 7ms/step - loss: 0.4201 - accuracy: 0.8204 - val_loss: 0.3629 - val_accuracy: 0.8605
Epoch 2/20
250/250 [==============================] - 1s 6ms/step - loss: 0.3595 - accuracy: 0.8543 - val_loss: 0.3485 - val_accuracy: 0.8640
Epoch 3/20
250/250 [==============================] - 1s 6ms/step - loss: 0.3514 - accuracy: 0.8559 - val_loss: 0.3488 - val_accuracy: 0.8675
Epoch 4/20
250/250 [==============================] - 1s 6ms/step - loss: 0.3429 - accuracy: 0.8612 - val_loss: 0.3445 - val_accuracy: 0.8505
Epoch 5/20
250/250 [==============================] - 1s 6ms/step - loss: 0.3377 - accuracy: 0.8641 - val_loss: 0.3350 - val_accuracy: 0.8640
Epoch 6/20
250/250 [==============================] - 1s 5ms/step - loss: 0.3359 - accuracy: 0.8656 - val_loss: 0.3427 - val_accuracy: 0.8620
Epoch 7/20
250/250 [==============================] - 1s 6ms/step - loss: 0.3323 - accuracy: 0.8655 - val_loss: 0.3494 - val_accuracy: 0.8600
Epoch 8/20
250/250 [==============================] - 1s 5ms/step - loss: 0.3287 - accuracy: 0.8651 - val_loss: 0.3395 - val_accuracy: 0.8640
Epoch 9/20
250/250 [==============================] - 1s 6ms/step - loss: 0.3255 - accuracy: 0.8684 - val_loss: 0.3357 - val_accuracy: 0.8620
Epoch 10/20
250/250 [==============================] - 1s 5ms/step - loss: 0.3225 - accuracy: 0.8691 - val_loss: 0.3460 - val_accuracy: 0.8550
Epoch 11/20
250/250 [==============================] - 2s 6ms/step - loss: 0.3191 - accuracy: 0.8708 - val_loss: 0.3416 - val_accuracy: 0.8660
Epoch 12/20
250/250 [==============================] - 1s 6ms/step - loss: 0.3149 - accuracy: 0.8721 - val_loss: 0.3404 - val_accuracy: 0.8595
Epoch 13/20
250/250 [==============================] - 2s 6ms/step - loss: 0.3113 - accuracy: 0.8759 - val_loss: 0.3615 - val_accuracy: 0.8510
Epoch 14/20
250/250 [==============================] - 1s 5ms/step - loss: 0.3088 - accuracy: 0.8751 - val_loss: 0.3485 - val_accuracy: 0.8620
Epoch 15/20
250/250 [==============================] - 1s 5ms/step - loss: 0.3025 - accuracy: 0.8774 - val_loss: 0.3492 - val_accuracy: 0.8620
Epoch 16/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2993 - accuracy: 0.8746 - val_loss: 0.3549 - val_accuracy: 0.8570
Epoch 17/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2906 - accuracy: 0.8780 - val_loss: 0.3573 - val_accuracy: 0.8605
Epoch 18/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2850 - accuracy: 0.8821 - val_loss: 0.3552 - val_accuracy: 0.8595
Epoch 19/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2774 - accuracy: 0.8850 - val_loss: 0.3608 - val_accuracy: 0.8545
Epoch 20/20
250/250 [==============================] - 1s 6ms/step - loss: 0.2715 - accuracy: 0.8867 - val_loss: 0.3752 - val_accuracy: 0.8575

In [26]:
#Predict the results using 0.5 as a threshold
y_pred = classifier.predict(X_test)
y_pred

63/63 [==============================] - 0s 2ms/step

array([[0.4068755 ],
       [0.2839354 ],
       [0.17960775],
       ...,
       [0.04401826],
       [0.23634362],
       [0.26547354]], dtype=float32)

In [27]:
# To use the confusion Matrix, we need to convert the probabilities that a customer will leave t
# So we will use the cutoff value 0.5 to indicate whether they are likely to exit or not.
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [28]:
#Print the Accuracy score and confusion matrix
from sklearn.metrics import confusion_matrix,classification_report
cm1 = confusion_matrix(y_test, y_pred)
cm1

array([[1506,   89],
       [ 196,  209]], dtype=int64)

In [29]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.94      0.91      1595
           1       0.70      0.52      0.59       405

    accuracy                           0.86      2000
   macro avg       0.79      0.73      0.75      2000
weighted avg       0.85      0.86      0.85      2000

In [30]:
accuracy_model1 = ((cm1[0][0]+cm1[1][1])*100)/(cm1[0][0]+cm1[1][1]+cm1[0][1]+cm1[1][0])
print (accuracy_model1, '% of testing data was classified correctly')

85.75 % of testing data was classified correctly